<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <title>scrap</title>
</head>
<body>
<span class="aaa">url:</span>
<h3 ><%=url %></h3>
<span class="aaa">title:</span>
<h3 ><%=title %></h3>
<span class="aaa">img_url:</span>
<h3 ><%-img %></h3>
<span class="aaa">img:</span>


<!--img id="img1"/-->

<form name="form1" action="/" method="POST" >
 <input type="text"  value="" name="url">
 <input type="submit"  value="transmit">

</form>

<script>
//document.getElementById("img1").src=document.getElementById("img_url").innerHTML;
</script>
</body>
</html>